@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 84% 4.9%;
  }
  
  * {
    border-color: hsl(214.3 31.8% 91.4%);
  }
  
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
